{% extends 'base.html' %}

{% block title %} todos list {% endblock %}

{% block content %}

<form method="POST">
    <ul class="list-group">
        {% for todoitem in todolist %}
        
            <li class="list-group-item todo-item">
              {% if todoitem.checked %}
              <input class="form-check-input me-1" type="checkbox" name='checked' checked value="{{todoitem.id}}" aria-label="...">
              {% else %}
              <input class="form-check-input me-1" type="checkbox"  name='checked' value="{{todoitem.id}}" aria-label="...">
              {% endif %}
              {{todoitem.work}}
              <a class='btn btn-danger' href="{% url 'todoapp:todo_item_delete' todoitem.id %}">X</a>
            </li>
        
        {% endfor %}
        </ul>
        {% csrf_token %}
        <button class='btn btn-primary' type="submit">submit</button>
        <a href="/create">create new item</a>
</form>

{% endblock %}